@use '../../../style/scss/variables.scss' as *;

.steps {
  position: relative;
  z-index: 1;
  margin-bottom: 65px;
  margin-top: 24px;

  &__bg {
    position: absolute;
    top: -36%;
    left: 50%;
    transform: translateX(-50%);

    @media only screen and (max-width: 991px) {
      display: none;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

    @media only screen and (max-width: 991px) {
      overflow: auto;
      margin-right: -15px;
      padding-right: 15px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--item {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;

      &.completed {
        .steps__top--number {
          background: $base-primery;
          border: 2px solid $base-primery;
          span {
            display: none;
          }

          svg {
            display: block;
          }
        }

        &::before {
          background: $base-primery;
        }
      }

      &.active {
        .steps__top--number {
          border: 2px solid $base-primery;
        }
      }

      svg {
        display: none;
      }

      @media only screen and (max-width: 1300px) {
        min-width: 288px;
      }
      @media only screen and (max-width: 991px) {
        flex-shrink: 0;
      }

      &:last-child {
        width: auto;
        min-width: initial;
        &::before {
          display: none;
        }
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 69%;
        background: #9aa1b5;
        right: -75%;

        @media only screen and (max-width: 1300px) {
          width: 40%;
          right: -33px;
        }

        @media only screen and (max-width: 991px) {
          width: 60%;
          right: 10px;
        }
      }
    }

    &--number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border: 2px solid #9aa1b5;
      border-radius: 50px;
      font-size: 14px;
      font-weight: 600;
      position: relative;
      z-index: 1;
      background: #fff;

      position: relative;
    }

    &--name {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.03em;

      padding-right: 5px;

      @media only screen and (max-width: 991px) {
        position: relative;
        z-index: 1;
        background: #fff;
      }
    }
  }

  &__items {
    padding: 24px;
    border-radius: 24px;
    box-shadow: inset -5px 4px 12px 0 rgba(255, 255, 255, 0.25);
    background: #e0f8f4;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 991px) {
      padding: 16px;
    }
  }

  &-operation {
    &__aside {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      @media only screen and (max-width: 991px) {
        grid-gap: 16px;
        grid-template-columns: 1fr;
      }
    }

    &__fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      grid-column: span 2;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
        grid-column: span 1;
      }
    }

    &__field {
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      border-radius: 20px;
      padding: 11px 16px;

      @media only screen and (max-width: 991px) {
        min-height: 61px;
        height: auto;
        position: relative;
        align-items: flex-end;

        &:first-child {
          padding-bottom: 43px;
        }
      }
    }

    &__course {
      display: flex;
      align-items: center;
      border: 1px solid #9aa1b5;
      border-radius: 999px;
      padding: 4px 16px;
      width: 196px;
      height: 32px;
      font-size: 12px;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #9aa1b5;

      @media only screen and (max-width: 991px) {
        position: absolute;
        left: 16px;
        bottom: 11px;
        height: 24px;
        font-size: 12px;
      }
    }

    &__right {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      font-size: 21px;
      font-weight: 600;
    }

    &__left {
      span {
        color: #9aa1b5;
      }

      p {
        font-size: 21px;
        display: block;
        margin-top: -3px;
        font-weight: 600;
      }
    }

    &__input {
      position: relative;

      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
      }

      input {
        height: 43px;
        padding: 12px 16px;
        width: 100%;
        border: 0;
        border-radius: 10px;
        font-size: 14px;
        padding-left: 42px;

        @media only screen and (max-width: 767px) {
          height: 40px;
        }

        &::-webkit-input-placeholder {
          opacity: 0.6;
        }
        &:-moz-placeholder {
          opacity: 0.6;
        }
        &::-moz-placeholder {
          opacity: 0.6;
        }
        &:-ms-input-placeholder {
          opacity: 0.6;
        }
      }
    }

    &__links {
      margin-top: 16px;
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      @media only screen and (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
      }

      a {
        font-weight: 600;
        color: #007d66;

        @media only screen and (max-width: 991px) {
          font-size: 14px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__approve {
      font-weight: 600;
      margin-top: 10px;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }

      a {
        color: #007d66;
      }
    }
  }

  &-pay {
    &__top {
      margin-bottom: 20px;

      @media only screen and (max-width: 991px) {
        margin-bottom: 16px;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 12px;
      font-weight: 600;
      font-size: 21px;
      margin-bottom: 5px;

      @media only screen and (max-width: 991px) {
        font-size: 18px;
      }

      p {
        color: #007d66;
      }

      b {
        font-size: 14px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
        background: #fff;
        border: 1px solid $base-primery;
        border-radius: 12px;
        padding: 6px 12px;
        width: 63px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #007d66;

        &.succes {
          background: $base-primery;
          color: initial;
          width: auto;
        }
      }
    }

    &__items {
      display: grid;
      grid-template-columns: 1fr 404px;
      grid-gap: 1px;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
      }
    }

    &__item {
      background: #fff;
      border-radius: 10px;
      padding: 1.5rem;
      background: #fff;
      position: relative;

      @media only screen and (max-width: 991px) {
        padding: 16px;
      }

      &:last-child {
        background: #eee;

        @media only screen and (max-width: 991px) {
          min-height: 482px;
        }
      }
    }

    &__name {
      font-size: 21px;
      font-weight: 600;
      margin-bottom: 16px;

      @media only screen and (max-width: 991px) {
        font-size: 18px;
      }
    }

    &__img {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
    }

    &__aside {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3px;

      @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-gap: 32px;
      }
    }

    &__content {
      span {
        opacity: 0.8;
        display: block;
        margin-bottom: 2px;
        font-size: 12px;
      }

      p {
        display: block;
        word-break: break-all;

        @media only screen and (max-width: 991px) {
          font-size: 14px;
        }
      }
    }

    &__code {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }
    }

    &__desc {
      max-width: 453px;
      margin-bottom: 24px;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }
    }

    &__btn {
      font-size: 16px;
      font-weight: 600;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }
    }

    &__grid {
      margin-bottom: 16px;

      p {
        opacity: 0.8;
        display: block;
        font-size: 12px;
        margin-bottom: 3px;

        @media only screen and (max-width: 991px) {
          margin-bottom: 0;
        }
      }

      span {
        @media only screen and (max-width: 991px) {
          font-size: 14px;
        }
      }
    }

    &__text {
      font-size: 12px;
    }
  }

  &-payment {
    background: #fff;
    padding: 24px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      padding: 16px;
      align-items: flex-start;
    }

    &__img {
      margin-bottom: -24px;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 991px) {
        margin-bottom: -16px;
        justify-content: flex-end;
        width: 100%;
        margin-top: 30px;
      }
    }

    &__head {
      margin-bottom: 24px;
      p {
        font-size: 21px;
        font-weight: 600;

        @media only screen and (max-width: 991px) {
          font-size: 18px;
        }
      }

      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }
    }

    &__foot {
      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }
      span {
        opacity: 0.8;
        font-size: 12px;
        display: block;
      }
    }
  }

  &-succes {
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 24px;

    @media only screen and (max-width: 991px) {
      padding: 16px;
    }

    &__img {
      position: absolute;
      right: 0;
      top: 0;

      @media only screen and (max-width: 991px) {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        top: auto;
        bottom: 0;
        width: 250px;
      }
    }

    &__head {
      margin-bottom: 24px;
      p {
        font-size: 21px;
        font-weight: 600;

        @media only screen and (max-width: 991px) {
          font-size: 18px;
        }
      }

      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }
    }

    &__grids {
      display: flex;
      align-items: center;
      align-items: flex-start;
      margin-bottom: 48px;
      gap: 24px;

      @media only screen and (max-width: 991px) {
        flex-direction: column;
      }
    }

    &__grid {
      span {
        font-size: 12px;
        display: block;
        opacity: 0.8;
      }

      p {
        @media only screen and (max-width: 991px) {
          font-size: 16px;
        }
      }
    }

    &__btn {
      font-size: 16px;
      font-weight: 600;
      position: relative;
      z-index: 1;
      @media only screen and (max-width: 991px) {
        font-size: 14px;
        margin-top: 182px;
      }
    }
  }
}
