<div class="news">
  <div class="steps__bg">
    <img src="images/lk-step.png" alt="" />
  </div>
  <div class="container">
    <div class="news__inner">
      <h1 class="news__title title">Новости</h1>

      <div class="news__items">
        <div class="news__item">
          <div class="news__icon">
            <img src="images/news1.png" alt="" />
          </div>

          <div class="news__info">
            <span>Мы расширяем сотрудничество</span>
            <p>
            Мы не стоим на месте и рады сообщить, что наш обменник был успешно добавлен в мониторинги Bestexchangers и Okchanger. 
Мы не стоим на месте и рады сообщить, что наш обменник был успешно добавлен в мониторинги Bestexchangers и Okchanger. 
Мы не стоим на месте и рады сообщить, что наш обменник был успешно добавлен в мониторинги Bestexchangers и Okchanger. 
Мы не стоим на месте и рады сообщить, что наш обменник был успешно добавлен в мониторинги Bestexchangers и Okchanger. 

            </p>
          </div>

          <div class="news__date">08 августа 2022</div>
        </div>
        <div class="news__item">
          <div class="news__icon">
            <img src="images/news1.png" alt="" />
          </div>

          <div class="news__info">
            <span>Мы расширяем сотрудничество</span>
            <p>
              Мы не стоим на месте и рады сообщить, что наш обменник был успешно
              добавлен в мониторинги Bestexchangers и Okchanger. 
            </p>
          </div>

          <div class="news__date">08 августа 2022</div>
        </div>
        <div class="news__item">
          <div class="news__icon">
            <img src="images/news1.png" alt="" />
          </div>

          <div class="news__info">
            <span>Мы расширяем сотрудничество</span>
            <p>
              Мы не стоим на месте и рады сообщить, что наш обменник был успешно
              добавлен в мониторинги Bestexchangers и Okchanger. 
            </p>
          </div>

          <div class="news__date">08 августа 2022</div>
        </div>
        <div class="news__item">
          <div class="news__icon">
            <img src="images/news1.png" alt="" />
          </div>

          <div class="news__info">
            <span>Мы расширяем сотрудничество</span>
            <p>
              Мы не стоим на месте и рады сообщить, что наш обменник был успешно
              добавлен в мониторинги Bestexchangers и Okchanger. 
            </p>
          </div>

          <div class="news__date">08 августа 2022</div>
        </div>
        <div class="news__item">
          <div class="news__icon">
            <img src="images/news1.png" alt="" />
          </div>

          <div class="news__info">
            <span>Мы расширяем сотрудничество</span>
            <p>
              Мы не стоим на месте и рады сообщить, что наш обменник был успешно
              добавлен в мониторинги Bestexchangers и Okchanger. 
            </p>
          </div>

          <div class="news__date">08 августа 2022</div>
        </div>
        <div class="news__item">
          <div class="news__icon">
            <img src="images/news1.png" alt="" />
          </div>

          <div class="news__info">
            <span>Мы расширяем сотрудничество</span>
            <p>
              Мы не стоим на месте и рады сообщить, что наш обменник был успешно
              добавлен в мониторинги Bestexchangers и Okchanger. 
            </p>
          </div>

          <div class="news__date">08 августа 2022</div>
        </div>
        <div class="news__item">
          <div class="news__icon">
            <img src="images/news1.png" alt="" />
          </div>

          <div class="news__info">
            <span>Мы расширяем сотрудничество</span>
            <p>
              Мы не стоим на месте и рады сообщить, что наш обменник был успешно
              добавлен в мониторинги Bestexchangers и Okchanger. 
            </p>
          </div>

          <div class="news__date">08 августа 2022</div>
        </div>
        <div class="news__item">
          <div class="news__icon">
            <img src="images/news1.png" alt="" />
          </div>

          <div class="news__info">
            <span>Мы расширяем сотрудничество</span>
            <p>
              Мы не стоим на месте и рады сообщить, что наш обменник был успешно
              добавлен в мониторинги Bestexchangers и Okchanger. 
            </p>
          </div>

          <div class="news__date">08 августа 2022</div>
        </div>
      </div>
    </div>
  </div>
</div>
