<div class="header__menu menu">
  <div class="menu__wrapper">
    <ul class="menu__list">
      <!-- Многоуровневое меню -->
      <li class="menu__item">
        <a href="#">ПАК ИСБ Приток-А</a>
      </li>

      <li class="menu__item">
        <a href="#"> Решения</a>
      </li>
      <li class="menu__item">
        <a href="#">Цены</a>
      </li>
      <li class="menu__item dropdown">
        <a href="#"
          ><span>Программное обеспечение</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="11"
            height="7"
            viewBox="0 0 11 7"
            fill="none"
          >
            <path
              d="M9.33333 1L5.16667 5.16667L1 1"
              stroke="#202020"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
        <div class="menu__item--list">
          <ul class="menu__sub-list">
            <li class="menu__item">
              <a href="#">
                <span>История тульского МК</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Качество и безопасность</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Уникальные технологии</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Видеосюжеты</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Объявления</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Условия сотрудничества</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Производственный туризм</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Вакансии</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Для акционеров</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu__item dropdown">
        <a href="#"
          ><span>О компании</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="11"
            height="7"
            viewBox="0 0 11 7"
            fill="none"
          >
            <path
              d="M9.33333 1L5.16667 5.16667L1 1"
              stroke="#202020"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
        <div class="menu__item--list">
          <ul class="menu__sub-list">
            <li class="menu__item">
              <a href="#">
                <span>История тульского МК</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Качество и безопасность</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Уникальные технологии</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Видеосюжеты</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Объявления</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Условия сотрудничества</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Производственный туризм</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Вакансии</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#">
                <span>Для акционеров</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu__item">
        <a href="#">Оплата и доставка</a>
      </li>
      <li class="menu__item">
        <a href="#">Контакты</a>
      </li>
    </ul>
  </div>
</div>
