<div class="rules">
  <div class="container">
    <div class="rules__inner">
      <h1 class="rules__title title">Правила обмена</h1>

      <div class="rules__tabs">
        <span class="active" data-rul>Привила сервиса</span>
        <span data-rul>AML/KYC</span>
        <span data-rul>Политика конфиденциальности</span>
      </div>

      <div class="rules__items active" data-rul-item>
        <div class="rules__item">
          <div class="rules__head">
            <div class="rules__name">
              1. Назначение и область применения Правил предоставлении услуг
              сервисом yesobmen.com
            </div>
            <div class="rules__arrow">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 16.8001C11.3 16.8001 10.6 16.5301 10.07 16.0001L3.55002 9.48014C3.26002 9.19014 3.26002 8.71014 3.55002 8.42014C3.84002 8.13014 4.32002 8.13014 4.61002 8.42014L11.13 14.9401C11.61 15.4201 12.39 15.4201 12.87 14.9401L19.39 8.42014C19.68 8.13014 20.16 8.13014 20.45 8.42014C20.74 8.71014 20.74 9.19014 20.45 9.48014L13.93 16.0001C13.4 16.5301 12.7 16.8001 12 16.8001Z"
                  fill="#1C1C1C"
                />
              </svg>
            </div>
          </div>

          <div class="rules__body">
            1.1. Настоящие Правила предоставления услуг сервисом Yesobmen.com
            (далее по тексту – Правила) устанавливают требования и содержат
            описание:1.1.1. Порядка предоставления услуги мультивалютного
            обменного сервиса yesobmen.com.  <br />
             <br />
            1.1.2. Публичной оферты Пользователям услуг сервиса Yesobmen.com.
             <br />
             <br />
            1.1.3. Разграничения ответственности за использование и
            предоставление услуг сервисом Yesobmen.com.  <br />
             <br />
            1.1.4. Мер по минимизации риска отмывания денежных средств и
            финансирования терроризма.  <br />
             <br />
            1.2. Yesobmen.com или Сервис – система, предоставляющая
            Пользователям возможность обмена криптовалюты на электронные деньги
            и (или) национальную валюту, а также обмен электронных денег и (или)
            национальной валюты на криптовалюту, расположенная и функционирующая
            на сайте в сети Интернет по адресу https://yesobmen.com/  <br />
             <br />
            1.3. Сервис размещается на территории государства Сейшельские
            Острова. В соответствии с текущим законодательным регулированием, в
            Сейшельских Островах деятельность по гражданскому обороту
            криптовалюты нормативно не запрещена. Корпоративные криптовалютные
            кошельки размещены на бирже Binance. Зачисление средств происходит
            согласно правилам биржи Binance. Для сети BTC необходимо 2
            подтверждения, ETH — 64, ETC — 75, LTC — 4, XMR — от 30, Dash — 10 и
            т.д. . Мы обращаем Ваше внимание, что в случае технических работ по
            определенным криптовалютам появляются задержки ввода Ваших средств и
            выплат Вам до окончания технических работ на бирже.  <br />
             <br />
            1.4. Перед тем, как воспользоваться услугами сервиса Yesobmen.com,
            Пользователь обязан ознакомиться в полном объеме с условиями
            настоящих Правил, KYC & AML Политикой и Политикой конфиденциальности
            Сервиса, опубликованной на сайте Сервиса, и принять их.  <br />
             <br />
            1.5. Использование услуг Сервиса возможно, только если Пользователь
            принимает все условия Правил.  <br />
             <br />
            1.6. Действующая версия Правил расположена для публичного доступа на
            сайте Сервиса. Администрация Сервиса вправе в любое время в
            одностороннем порядке изменять настоящие Правила. Такие изменения
            вступают в силу по истечении 3 (трех) календарных дней с момента
            размещения новой версии Правил на сайте, если иной порядок
            вступления не предусмотрен специально в новой версии Правил. При
            несогласии Пользователя с внесенными изменениями он обязан
            отказаться от доступа к сайту Сервиса и прекратить использование
            материалов и услуг Сервиса, направив соответствующее письмо на
            электронную почту:  info@yesobmen.com
          </div>
        </div>
        <div class="rules__item">
          <div class="rules__head">
            <div class="rules__name">
              1. Назначение и область применения Правил предоставлении услуг
              сервисом yesobmen.com
            </div>
            <div class="rules__arrow">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 16.8001C11.3 16.8001 10.6 16.5301 10.07 16.0001L3.55002 9.48014C3.26002 9.19014 3.26002 8.71014 3.55002 8.42014C3.84002 8.13014 4.32002 8.13014 4.61002 8.42014L11.13 14.9401C11.61 15.4201 12.39 15.4201 12.87 14.9401L19.39 8.42014C19.68 8.13014 20.16 8.13014 20.45 8.42014C20.74 8.71014 20.74 9.19014 20.45 9.48014L13.93 16.0001C13.4 16.5301 12.7 16.8001 12 16.8001Z"
                  fill="#1C1C1C"
                />
              </svg>
            </div>
          </div>

          <div class="rules__body">
            1.1. Настоящие Правила предоставления услуг сервисом Yesobmen.com
            (далее по тексту – Правила) устанавливают требования и содержат
            описание:1.1.1. Порядка предоставления услуги мультивалютного
            обменного сервиса yesobmen.com.  <br />
             <br />
            1.1.2. Публичной оферты Пользователям услуг сервиса Yesobmen.com.
             <br />
             <br />
            1.1.3. Разграничения ответственности за использование и
            предоставление услуг сервисом Yesobmen.com.  <br />
             <br />
            1.1.4. Мер по минимизации риска отмывания денежных средств и
            финансирования терроризма.  <br />
             <br />
            1.2. Yesobmen.com или Сервис – система, предоставляющая
            Пользователям возможность обмена криптовалюты на электронные деньги
            и (или) национальную валюту, а также обмен электронных денег и (или)
            национальной валюты на криптовалюту, расположенная и функционирующая
            на сайте в сети Интернет по адресу https://yesobmen.com/  <br />
             <br />
            1.3. Сервис размещается на территории государства Сейшельские
            Острова. В соответствии с текущим законодательным регулированием, в
            Сейшельских Островах деятельность по гражданскому обороту
            криптовалюты нормативно не запрещена. Корпоративные криптовалютные
            кошельки размещены на бирже Binance. Зачисление средств происходит
            согласно правилам биржи Binance. Для сети BTC необходимо 2
            подтверждения, ETH — 64, ETC — 75, LTC — 4, XMR — от 30, Dash — 10 и
            т.д. . Мы обращаем Ваше внимание, что в случае технических работ по
            определенным криптовалютам появляются задержки ввода Ваших средств и
            выплат Вам до окончания технических работ на бирже.  <br />
             <br />
            1.4. Перед тем, как воспользоваться услугами сервиса Yesobmen.com,
            Пользователь обязан ознакомиться в полном объеме с условиями
            настоящих Правил, KYC & AML Политикой и Политикой конфиденциальности
            Сервиса, опубликованной на сайте Сервиса, и принять их.  <br />
             <br />
            1.5. Использование услуг Сервиса возможно, только если Пользователь
            принимает все условия Правил.  <br />
             <br />
            1.6. Действующая версия Правил расположена для публичного доступа на
            сайте Сервиса. Администрация Сервиса вправе в любое время в
            одностороннем порядке изменять настоящие Правила. Такие изменения
            вступают в силу по истечении 3 (трех) календарных дней с момента
            размещения новой версии Правил на сайте, если иной порядок
            вступления не предусмотрен специально в новой версии Правил. При
            несогласии Пользователя с внесенными изменениями он обязан
            отказаться от доступа к сайту Сервиса и прекратить использование
            материалов и услуг Сервиса, направив соответствующее письмо на
            электронную почту:  info@yesobmen.com
          </div>
        </div>
        <div class="rules__item">
          <div class="rules__head">
            <div class="rules__name">
              1. Назначение и область применения Правил предоставлении услуг
              сервисом yesobmen.com
            </div>
            <div class="rules__arrow">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 16.8001C11.3 16.8001 10.6 16.5301 10.07 16.0001L3.55002 9.48014C3.26002 9.19014 3.26002 8.71014 3.55002 8.42014C3.84002 8.13014 4.32002 8.13014 4.61002 8.42014L11.13 14.9401C11.61 15.4201 12.39 15.4201 12.87 14.9401L19.39 8.42014C19.68 8.13014 20.16 8.13014 20.45 8.42014C20.74 8.71014 20.74 9.19014 20.45 9.48014L13.93 16.0001C13.4 16.5301 12.7 16.8001 12 16.8001Z"
                  fill="#1C1C1C"
                />
              </svg>
            </div>
          </div>

          <div class="rules__body">
            1.1. Настоящие Правила предоставления услуг сервисом Yesobmen.com
            (далее по тексту – Правила) устанавливают требования и содержат
            описание:1.1.1. Порядка предоставления услуги мультивалютного
            обменного сервиса yesobmen.com.  <br />
             <br />
            1.1.2. Публичной оферты Пользователям услуг сервиса Yesobmen.com.
             <br />
             <br />
            1.1.3. Разграничения ответственности за использование и
            предоставление услуг сервисом Yesobmen.com.  <br />
             <br />
            1.1.4. Мер по минимизации риска отмывания денежных средств и
            финансирования терроризма.  <br />
             <br />
            1.2. Yesobmen.com или Сервис – система, предоставляющая
            Пользователям возможность обмена криптовалюты на электронные деньги
            и (или) национальную валюту, а также обмен электронных денег и (или)
            национальной валюты на криптовалюту, расположенная и функционирующая
            на сайте в сети Интернет по адресу https://yesobmen.com/  <br />
             <br />
            1.3. Сервис размещается на территории государства Сейшельские
            Острова. В соответствии с текущим законодательным регулированием, в
            Сейшельских Островах деятельность по гражданскому обороту
            криптовалюты нормативно не запрещена. Корпоративные криптовалютные
            кошельки размещены на бирже Binance. Зачисление средств происходит
            согласно правилам биржи Binance. Для сети BTC необходимо 2
            подтверждения, ETH — 64, ETC — 75, LTC — 4, XMR — от 30, Dash — 10 и
            т.д. . Мы обращаем Ваше внимание, что в случае технических работ по
            определенным криптовалютам появляются задержки ввода Ваших средств и
            выплат Вам до окончания технических работ на бирже.  <br />
             <br />
            1.4. Перед тем, как воспользоваться услугами сервиса Yesobmen.com,
            Пользователь обязан ознакомиться в полном объеме с условиями
            настоящих Правил, KYC & AML Политикой и Политикой конфиденциальности
            Сервиса, опубликованной на сайте Сервиса, и принять их.  <br />
             <br />
            1.5. Использование услуг Сервиса возможно, только если Пользователь
            принимает все условия Правил.  <br />
             <br />
            1.6. Действующая версия Правил расположена для публичного доступа на
            сайте Сервиса. Администрация Сервиса вправе в любое время в
            одностороннем порядке изменять настоящие Правила. Такие изменения
            вступают в силу по истечении 3 (трех) календарных дней с момента
            размещения новой версии Правил на сайте, если иной порядок
            вступления не предусмотрен специально в новой версии Правил. При
            несогласии Пользователя с внесенными изменениями он обязан
            отказаться от доступа к сайту Сервиса и прекратить использование
            материалов и услуг Сервиса, направив соответствующее письмо на
            электронную почту:  info@yesobmen.com
          </div>
        </div>
        <div class="rules__item">
          <div class="rules__head">
            <div class="rules__name">
              1. Назначение и область применения Правил предоставлении услуг
              сервисом yesobmen.com
            </div>
            <div class="rules__arrow">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 16.8001C11.3 16.8001 10.6 16.5301 10.07 16.0001L3.55002 9.48014C3.26002 9.19014 3.26002 8.71014 3.55002 8.42014C3.84002 8.13014 4.32002 8.13014 4.61002 8.42014L11.13 14.9401C11.61 15.4201 12.39 15.4201 12.87 14.9401L19.39 8.42014C19.68 8.13014 20.16 8.13014 20.45 8.42014C20.74 8.71014 20.74 9.19014 20.45 9.48014L13.93 16.0001C13.4 16.5301 12.7 16.8001 12 16.8001Z"
                  fill="#1C1C1C"
                />
              </svg>
            </div>
          </div>

          <div class="rules__body">
            1.1. Настоящие Правила предоставления услуг сервисом Yesobmen.com
            (далее по тексту – Правила) устанавливают требования и содержат
            описание:1.1.1. Порядка предоставления услуги мультивалютного
            обменного сервиса yesobmen.com.  <br />
             <br />
            1.1.2. Публичной оферты Пользователям услуг сервиса Yesobmen.com.
             <br />
             <br />
            1.1.3. Разграничения ответственности за использование и
            предоставление услуг сервисом Yesobmen.com.  <br />
             <br />
            1.1.4. Мер по минимизации риска отмывания денежных средств и
            финансирования терроризма.  <br />
             <br />
            1.2. Yesobmen.com или Сервис – система, предоставляющая
            Пользователям возможность обмена криптовалюты на электронные деньги
            и (или) национальную валюту, а также обмен электронных денег и (или)
            национальной валюты на криптовалюту, расположенная и функционирующая
            на сайте в сети Интернет по адресу https://yesobmen.com/  <br />
             <br />
            1.3. Сервис размещается на территории государства Сейшельские
            Острова. В соответствии с текущим законодательным регулированием, в
            Сейшельских Островах деятельность по гражданскому обороту
            криптовалюты нормативно не запрещена. Корпоративные криптовалютные
            кошельки размещены на бирже Binance. Зачисление средств происходит
            согласно правилам биржи Binance. Для сети BTC необходимо 2
            подтверждения, ETH — 64, ETC — 75, LTC — 4, XMR — от 30, Dash — 10 и
            т.д. . Мы обращаем Ваше внимание, что в случае технических работ по
            определенным криптовалютам появляются задержки ввода Ваших средств и
            выплат Вам до окончания технических работ на бирже.  <br />
             <br />
            1.4. Перед тем, как воспользоваться услугами сервиса Yesobmen.com,
            Пользователь обязан ознакомиться в полном объеме с условиями
            настоящих Правил, KYC & AML Политикой и Политикой конфиденциальности
            Сервиса, опубликованной на сайте Сервиса, и принять их.  <br />
             <br />
            1.5. Использование услуг Сервиса возможно, только если Пользователь
            принимает все условия Правил.  <br />
             <br />
            1.6. Действующая версия Правил расположена для публичного доступа на
            сайте Сервиса. Администрация Сервиса вправе в любое время в
            одностороннем порядке изменять настоящие Правила. Такие изменения
            вступают в силу по истечении 3 (трех) календарных дней с момента
            размещения новой версии Правил на сайте, если иной порядок
            вступления не предусмотрен специально в новой версии Правил. При
            несогласии Пользователя с внесенными изменениями он обязан
            отказаться от доступа к сайту Сервиса и прекратить использование
            материалов и услуг Сервиса, направив соответствующее письмо на
            электронную почту:  info@yesobmen.com
          </div>
        </div>
      </div>

      <div class="rules__items" data-rul-item>
        <div class="rules__polyt">
          <div class="rules_label">Политика AML</div>

          <div class="rules__text">
            1. Сервис имеет право отказать в проведении обмена при возникновении
            подозрений о получении Пользователем Средств в результате любой
            противоправной деятельности в соответствии с законодательством
            государства размещения Сервиса или государства, резидентом которого
            является Пользователь.  Политика AML регламентирует деятельность
            обменного пункта Yesobmen.com в отношении борьбы с отмыванием денег
            и использованием сервиса с целью легализации денежных средств
            добытых преступным путем. Настоящая AML Политика составлена на
            основании:   1.1. Законодательства государства Сейшельские острова.
              1.2. Рекомендации межправительственной организации по финансовому
            мониторингу FATF (Financial Action Task Force on Money Laundering).
             
          </div>
        </div>
      </div>
      <div class="rules__items" data-rul-item>
        <div class="rules__item">
          <div class="rules__head">
            <div class="rules__name">
              1. Назначение и область применения Правил предоставлении услуг
              сервисом yesobmen.com
            </div>
            <div class="rules__arrow">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 16.8001C11.3 16.8001 10.6 16.5301 10.07 16.0001L3.55002 9.48014C3.26002 9.19014 3.26002 8.71014 3.55002 8.42014C3.84002 8.13014 4.32002 8.13014 4.61002 8.42014L11.13 14.9401C11.61 15.4201 12.39 15.4201 12.87 14.9401L19.39 8.42014C19.68 8.13014 20.16 8.13014 20.45 8.42014C20.74 8.71014 20.74 9.19014 20.45 9.48014L13.93 16.0001C13.4 16.5301 12.7 16.8001 12 16.8001Z"
                  fill="#1C1C1C"
                />
              </svg>
            </div>
          </div>

          <div class="rules__body">
            1.1. Настоящие Правила предоставления услуг сервисом Yesobmen.com
            (далее по тексту – Правила) устанавливают требования и содержат
            описание:1.1.1. Порядка предоставления услуги мультивалютного
            обменного сервиса yesobmen.com.  <br />
             <br />
            1.1.2. Публичной оферты Пользователям услуг сервиса Yesobmen.com.
             <br />
             <br />
            1.1.3. Разграничения ответственности за использование и
            предоставление услуг сервисом Yesobmen.com.  <br />
             <br />
            1.1.4. Мер по минимизации риска отмывания денежных средств и
            финансирования терроризма.  <br />
             <br />
            1.2. Yesobmen.com или Сервис – система, предоставляющая
            Пользователям возможность обмена криптовалюты на электронные деньги
            и (или) национальную валюту, а также обмен электронных денег и (или)
            национальной валюты на криптовалюту, расположенная и функционирующая
            на сайте в сети Интернет по адресу https://yesobmen.com/  <br />
             <br />
            1.3. Сервис размещается на территории государства Сейшельские
            Острова. В соответствии с текущим законодательным регулированием, в
            Сейшельских Островах деятельность по гражданскому обороту
            криптовалюты нормативно не запрещена. Корпоративные криптовалютные
            кошельки размещены на бирже Binance. Зачисление средств происходит
            согласно правилам биржи Binance. Для сети BTC необходимо 2
            подтверждения, ETH — 64, ETC — 75, LTC — 4, XMR — от 30, Dash — 10 и
            т.д. . Мы обращаем Ваше внимание, что в случае технических работ по
            определенным криптовалютам появляются задержки ввода Ваших средств и
            выплат Вам до окончания технических работ на бирже.  <br />
             <br />
            1.4. Перед тем, как воспользоваться услугами сервиса Yesobmen.com,
            Пользователь обязан ознакомиться в полном объеме с условиями
            настоящих Правил, KYC & AML Политикой и Политикой конфиденциальности
            Сервиса, опубликованной на сайте Сервиса, и принять их.  <br />
             <br />
            1.5. Использование услуг Сервиса возможно, только если Пользователь
            принимает все условия Правил.  <br />
             <br />
            1.6. Действующая версия Правил расположена для публичного доступа на
            сайте Сервиса. Администрация Сервиса вправе в любое время в
            одностороннем порядке изменять настоящие Правила. Такие изменения
            вступают в силу по истечении 3 (трех) календарных дней с момента
            размещения новой версии Правил на сайте, если иной порядок
            вступления не предусмотрен специально в новой версии Правил. При
            несогласии Пользователя с внесенными изменениями он обязан
            отказаться от доступа к сайту Сервиса и прекратить использование
            материалов и услуг Сервиса, направив соответствующее письмо на
            электронную почту:  info@yesobmen.com
          </div>
        </div>
        <div class="rules__item">
          <div class="rules__head">
            <div class="rules__name">
              1. Назначение и область применения Правил предоставлении услуг
              сервисом yesobmen.com
            </div>
            <div class="rules__arrow">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 16.8001C11.3 16.8001 10.6 16.5301 10.07 16.0001L3.55002 9.48014C3.26002 9.19014 3.26002 8.71014 3.55002 8.42014C3.84002 8.13014 4.32002 8.13014 4.61002 8.42014L11.13 14.9401C11.61 15.4201 12.39 15.4201 12.87 14.9401L19.39 8.42014C19.68 8.13014 20.16 8.13014 20.45 8.42014C20.74 8.71014 20.74 9.19014 20.45 9.48014L13.93 16.0001C13.4 16.5301 12.7 16.8001 12 16.8001Z"
                  fill="#1C1C1C"
                />
              </svg>
            </div>
          </div>

          <div class="rules__body">
            1.1. Настоящие Правила предоставления услуг сервисом Yesobmen.com
            (далее по тексту – Правила) устанавливают требования и содержат
            описание:1.1.1. Порядка предоставления услуги мультивалютного
            обменного сервиса yesobmen.com.  <br />
             <br />
            1.1.2. Публичной оферты Пользователям услуг сервиса Yesobmen.com.
             <br />
             <br />
            1.1.3. Разграничения ответственности за использование и
            предоставление услуг сервисом Yesobmen.com.  <br />
             <br />
            1.1.4. Мер по минимизации риска отмывания денежных средств и
            финансирования терроризма.  <br />
             <br />
            1.2. Yesobmen.com или Сервис – система, предоставляющая
            Пользователям возможность обмена криптовалюты на электронные деньги
            и (или) национальную валюту, а также обмен электронных денег и (или)
            национальной валюты на криптовалюту, расположенная и функционирующая
            на сайте в сети Интернет по адресу https://yesobmen.com/  <br />
             <br />
            1.3. Сервис размещается на территории государства Сейшельские
            Острова. В соответствии с текущим законодательным регулированием, в
            Сейшельских Островах деятельность по гражданскому обороту
            криптовалюты нормативно не запрещена. Корпоративные криптовалютные
            кошельки размещены на бирже Binance. Зачисление средств происходит
            согласно правилам биржи Binance. Для сети BTC необходимо 2
            подтверждения, ETH — 64, ETC — 75, LTC — 4, XMR — от 30, Dash — 10 и
            т.д. . Мы обращаем Ваше внимание, что в случае технических работ по
            определенным криптовалютам появляются задержки ввода Ваших средств и
            выплат Вам до окончания технических работ на бирже.  <br />
             <br />
            1.4. Перед тем, как воспользоваться услугами сервиса Yesobmen.com,
            Пользователь обязан ознакомиться в полном объеме с условиями
            настоящих Правил, KYC & AML Политикой и Политикой конфиденциальности
            Сервиса, опубликованной на сайте Сервиса, и принять их.  <br />
             <br />
            1.5. Использование услуг Сервиса возможно, только если Пользователь
            принимает все условия Правил.  <br />
             <br />
            1.6. Действующая версия Правил расположена для публичного доступа на
            сайте Сервиса. Администрация Сервиса вправе в любое время в
            одностороннем порядке изменять настоящие Правила. Такие изменения
            вступают в силу по истечении 3 (трех) календарных дней с момента
            размещения новой версии Правил на сайте, если иной порядок
            вступления не предусмотрен специально в новой версии Правил. При
            несогласии Пользователя с внесенными изменениями он обязан
            отказаться от доступа к сайту Сервиса и прекратить использование
            материалов и услуг Сервиса, направив соответствующее письмо на
            электронную почту:  info@yesobmen.com
          </div>
        </div>
        <div class="rules__item">
          <div class="rules__head">
            <div class="rules__name">
              1. Назначение и область применения Правил предоставлении услуг
              сервисом yesobmen.com
            </div>
            <div class="rules__arrow">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 16.8001C11.3 16.8001 10.6 16.5301 10.07 16.0001L3.55002 9.48014C3.26002 9.19014 3.26002 8.71014 3.55002 8.42014C3.84002 8.13014 4.32002 8.13014 4.61002 8.42014L11.13 14.9401C11.61 15.4201 12.39 15.4201 12.87 14.9401L19.39 8.42014C19.68 8.13014 20.16 8.13014 20.45 8.42014C20.74 8.71014 20.74 9.19014 20.45 9.48014L13.93 16.0001C13.4 16.5301 12.7 16.8001 12 16.8001Z"
                  fill="#1C1C1C"
                />
              </svg>
            </div>
          </div>

          <div class="rules__body">
            1.1. Настоящие Правила предоставления услуг сервисом Yesobmen.com
            (далее по тексту – Правила) устанавливают требования и содержат
            описание:1.1.1. Порядка предоставления услуги мультивалютного
            обменного сервиса yesobmen.com.  <br />
             <br />
            1.1.2. Публичной оферты Пользователям услуг сервиса Yesobmen.com.
             <br />
             <br />
            1.1.3. Разграничения ответственности за использование и
            предоставление услуг сервисом Yesobmen.com.  <br />
             <br />
            1.1.4. Мер по минимизации риска отмывания денежных средств и
            финансирования терроризма.  <br />
             <br />
            1.2. Yesobmen.com или Сервис – система, предоставляющая
            Пользователям возможность обмена криптовалюты на электронные деньги
            и (или) национальную валюту, а также обмен электронных денег и (или)
            национальной валюты на криптовалюту, расположенная и функционирующая
            на сайте в сети Интернет по адресу https://yesobmen.com/  <br />
             <br />
            1.3. Сервис размещается на территории государства Сейшельские
            Острова. В соответствии с текущим законодательным регулированием, в
            Сейшельских Островах деятельность по гражданскому обороту
            криптовалюты нормативно не запрещена. Корпоративные криптовалютные
            кошельки размещены на бирже Binance. Зачисление средств происходит
            согласно правилам биржи Binance. Для сети BTC необходимо 2
            подтверждения, ETH — 64, ETC — 75, LTC — 4, XMR — от 30, Dash — 10 и
            т.д. . Мы обращаем Ваше внимание, что в случае технических работ по
            определенным криптовалютам появляются задержки ввода Ваших средств и
            выплат Вам до окончания технических работ на бирже.  <br />
             <br />
            1.4. Перед тем, как воспользоваться услугами сервиса Yesobmen.com,
            Пользователь обязан ознакомиться в полном объеме с условиями
            настоящих Правил, KYC & AML Политикой и Политикой конфиденциальности
            Сервиса, опубликованной на сайте Сервиса, и принять их.  <br />
             <br />
            1.5. Использование услуг Сервиса возможно, только если Пользователь
            принимает все условия Правил.  <br />
             <br />
            1.6. Действующая версия Правил расположена для публичного доступа на
            сайте Сервиса. Администрация Сервиса вправе в любое время в
            одностороннем порядке изменять настоящие Правила. Такие изменения
            вступают в силу по истечении 3 (трех) календарных дней с момента
            размещения новой версии Правил на сайте, если иной порядок
            вступления не предусмотрен специально в новой версии Правил. При
            несогласии Пользователя с внесенными изменениями он обязан
            отказаться от доступа к сайту Сервиса и прекратить использование
            материалов и услуг Сервиса, направив соответствующее письмо на
            электронную почту:  info@yesobmen.com
          </div>
        </div>
        <div class="rules__item">
          <div class="rules__head">
            <div class="rules__name">
              1. Назначение и область применения Правил предоставлении услуг
              сервисом yesobmen.com
            </div>
            <div class="rules__arrow">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 16.8001C11.3 16.8001 10.6 16.5301 10.07 16.0001L3.55002 9.48014C3.26002 9.19014 3.26002 8.71014 3.55002 8.42014C3.84002 8.13014 4.32002 8.13014 4.61002 8.42014L11.13 14.9401C11.61 15.4201 12.39 15.4201 12.87 14.9401L19.39 8.42014C19.68 8.13014 20.16 8.13014 20.45 8.42014C20.74 8.71014 20.74 9.19014 20.45 9.48014L13.93 16.0001C13.4 16.5301 12.7 16.8001 12 16.8001Z"
                  fill="#1C1C1C"
                />
              </svg>
            </div>
          </div>

          <div class="rules__body">
            1.1. Настоящие Правила предоставления услуг сервисом Yesobmen.com
            (далее по тексту – Правила) устанавливают требования и содержат
            описание:1.1.1. Порядка предоставления услуги мультивалютного
            обменного сервиса yesobmen.com.  <br />
             <br />
            1.1.2. Публичной оферты Пользователям услуг сервиса Yesobmen.com.
             <br />
             <br />
            1.1.3. Разграничения ответственности за использование и
            предоставление услуг сервисом Yesobmen.com.  <br />
             <br />
            1.1.4. Мер по минимизации риска отмывания денежных средств и
            финансирования терроризма.  <br />
             <br />
            1.2. Yesobmen.com или Сервис – система, предоставляющая
            Пользователям возможность обмена криптовалюты на электронные деньги
            и (или) национальную валюту, а также обмен электронных денег и (или)
            национальной валюты на криптовалюту, расположенная и функционирующая
            на сайте в сети Интернет по адресу https://yesobmen.com/  <br />
             <br />
            1.3. Сервис размещается на территории государства Сейшельские
            Острова. В соответствии с текущим законодательным регулированием, в
            Сейшельских Островах деятельность по гражданскому обороту
            криптовалюты нормативно не запрещена. Корпоративные криптовалютные
            кошельки размещены на бирже Binance. Зачисление средств происходит
            согласно правилам биржи Binance. Для сети BTC необходимо 2
            подтверждения, ETH — 64, ETC — 75, LTC — 4, XMR — от 30, Dash — 10 и
            т.д. . Мы обращаем Ваше внимание, что в случае технических работ по
            определенным криптовалютам появляются задержки ввода Ваших средств и
            выплат Вам до окончания технических работ на бирже.  <br />
             <br />
            1.4. Перед тем, как воспользоваться услугами сервиса Yesobmen.com,
            Пользователь обязан ознакомиться в полном объеме с условиями
            настоящих Правил, KYC & AML Политикой и Политикой конфиденциальности
            Сервиса, опубликованной на сайте Сервиса, и принять их.  <br />
             <br />
            1.5. Использование услуг Сервиса возможно, только если Пользователь
            принимает все условия Правил.  <br />
             <br />
            1.6. Действующая версия Правил расположена для публичного доступа на
            сайте Сервиса. Администрация Сервиса вправе в любое время в
            одностороннем порядке изменять настоящие Правила. Такие изменения
            вступают в силу по истечении 3 (трех) календарных дней с момента
            размещения новой версии Правил на сайте, если иной порядок
            вступления не предусмотрен специально в новой версии Правил. При
            несогласии Пользователя с внесенными изменениями он обязан
            отказаться от доступа к сайту Сервиса и прекратить использование
            материалов и услуг Сервиса, направив соответствующее письмо на
            электронную почту:  info@yesobmen.com
          </div>
        </div>

        <div class="rules__aside">Если у вас есть какие-либо вопросы по поводу этой Политики
          конфиденциальности, свяжитесь с нами <br />по email: <a href="#"
            >info@yesobmen.com</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
