.map {
	height: 100%;
	width: 100%;
}

.map [class*="ymaps-2-1"][class*="-ground-pane"] {
	pointer-events: none;
	filter: grayscale(1) invert(95%);
}

.map [class*="-copyrights-promo"],
.map [class*="-copyright_logo_no"] {
	display: none;
}
