@use '../../../style/scss/variables.scss' as *;

.lk {
  position: relative;
  margin-top: 65px;
  margin-bottom: 65px;

  @media only screen and (max-width: 991px) {
    margin-top: 32px;
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      display: block;
      margin-bottom: 30 px;
      margin-right: -15px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 700;

    @media only screen and (max-width: 991px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    border-radius: 64px;
    padding: 6px;
    background: #fff;
    max-width: 472px;
    width: 100%;
    backdrop-filter: blur(28.700000762939453px);

    @media only screen and (max-width: 991px) {
      max-width: 100%;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    a {
      width: 100%;
      padding: 6px 24px;
      width: 100%;
      max-width: 230px;
      flex-shrink: 0;
      font-weight: 600;
      cursor: pointer;
      border-radius: 99px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
        max-width: fit-content;
      }

      &.active {
        background: #1c1c1c;
        color: #fff;
      }
    }
  }

  &__info {
    box-shadow: inset -5px 4px 12px 0 rgba(255, 255, 255, 0.25);
    background: #e0f8f4;
    border: 1px solid#fff;
    border-radius: 20px;
    padding: 24px;

    @media only screen and (max-width: 991px) {
      padding: 16px;
    }
  }

  &__content {
    &--item {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    @media only screen and (max-width: 1300px) {
      overflow: auto;
      margin-right: -16px;
      padding-right: 16px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--item {
      padding: 6px 16px;
      border-radius: 12px;
      cursor: pointer;

      @media only screen and (max-width: 1300px) {
        flex-shrink: 0;
        font-size: 14px;
      }

      &.active {
        background: $base-primery;
      }
    }
  }

  &-private {
    display: grid;
    grid-template-columns: 1fr 320px;
    align-items: flex-end;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width: 991px) {
        margin-bottom: -30px;
      }
    }

    &__info {
      max-width: 612px;

      @media only screen and (max-width: 991px) {
        max-width: 100%;
      }

      .steps-operation__input {
        margin-bottom: 16px;

        input {
          height: 43px;
          border: 1px solid #efefef;
        }

        &.gray {
          input {
            background: #dddddd;
          }
        }
      }
    }

    .checkbox {
      margin: 24px 0;

      @media only screen and (max-width: 991px) {
        margin: 16px 0;
      }
    }

    &__aside {
      margin: 16px 0;
      font-size: 12px;
    }
  }

  &-ex {
    &__empty {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 30px;
      background: #fff;
      padding: 40px;
      border-radius: 12px;

      span {
        font-size: 12px;
      }
    }

    &__over {
      @media only screen and (max-width: 991px) {
        overflow: auto;
        margin-right: -16px;
        padding-right: 16px;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    &__table {
      width: 100%;
      min-width: 688px;

      table {
        width: 100%;
        border-collapse: collapse;

        thead {
          background: #1c1c1c;
          color: #fff;

          tr {
            th {
              text-align: left;
              padding: 12px 16px;
              font-size: 12px;

              &:first-child {
                border-radius: 12px 0 0 0;
              }

              &:last-child {
                border-radius: 0 12px 0 0;
              }
            }
          }
        }

        tbody {
          background: #fff;
          tr {
            &:last-child {
              td {
                &:first-child {
                  border-radius: 0 0 0 12px;
                }

                &:last-child {
                  border-radius: 0 0 12px 0;
                }
              }
            }
            td {
              text-align: left;
              padding: 12px 16px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  &-cash {
    min-height: 450px;

    &__inner {
      padding: 24px;
      border-radius: 12px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 616px;
      background-color: #fff;

      @media only screen and (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }
    }

    &-course {
      margin-top: 48px;

      @media only screen and (max-width: 991px) {
        margin-top: 20px;
      }

      .lk-cash {
        &__inner {
          max-width: 656px;
        }
      }
    }

    &__info {
      p {
        font-size: 21px;
        font-weight: 600;
        line-height: 1.3;

        @media only screen and (max-width: 991px) {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }

      span {
        @media only screen and (max-width: 991px) {
          font-size: 14px;
        }
      }

      a {
        display: block;
        color: #007d66;
        font-weight: 600;
        margin-top: 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__img {
      display: flex;
      align-items: center;
    }
  }

  &-password {
    position: relative;
    min-height: 350px;

    &__img {
      position: absolute;
      bottom: 0;
      right: 10%;

      @media only screen and (max-width: 991px) {
        position: relative;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -25px;
      }
    }

    &__content {
      max-width: 612px;

      @media only screen and (max-width: 991px) {
        max-width: 100%;
      }
    }

    .steps-operation__input {
      margin-bottom: 16px;
    }
  }

  &-acc {
    &__inner {
      max-width: 612px;

      @media only screen and (max-width: 991px) {
        padding-bottom: 50px;
      }
    }

    &__item {
      background: #fff;
      width: 100%;
      margin-bottom: 16px;
      border-radius: 8px;
      padding: 12px 16px;

      span {
        display: block;
        font-size: 12px;
        opacity: 0.8;
      }

      p {
        @media only screen and (max-width: 991px) {
          font-size: 14px;
        }
      }
    }
  }

  &-stat {
    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
      }
    }

    &__item {
      background: #fff;
      padding: 12px 16px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        opacity: 0.8;
        font-size: 12px;
      }

      p {
        font-weight: 600;

        @media only screen and (max-width: 991px) {
          font-size: 14px;
        }
      }
    }
  }

  &-aside {
    &__top {
      padding: 12px 16px;
      border-radius: 12px;
      background: #fff;

      span {
        font-size: 21px;
        font-weight: 600;
        display: block;
        margin-bottom: 10px;

        @media only screen and (max-width: 991px) {
          font-size: 18px;
        }
      }

      p {
        font-size: 14px;
      }
    }

    &__item {
      background: #fff;
      padding: 12px 16px;
      border-radius: 12px;
      margin-top: 16px;
    }

    &__head {
      display: block;
      margin-bottom: 12px;
      font-size: 12px;
      opacity: 0.8;
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 12px;

      svg {
        flex-shrink: 0;
      }

      a {
        font-weight: 600;
        word-break: break-all;
      }
    }
  }

  &-dep {
    &__top {
      background: #fff;
      padding: 24px;
      border-radius: 12px;



      @media only screen and (max-width: 991px) {
        padding: 16px;
      }
    }

    &__number {
      font-size: 21px;
      font-weight: 600;
      margin-bottom: 5px;


      @media only screen and (max-width: 991px) {
        font-size: 18px;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 12px;
      color: #9AA1B5;
      margin-bottom: 24px;

      @media only screen and (max-width: 991px) {
        margin-bottom: 16px;
      }
    }

    .steps-operation__input input {
      border: 1px solid #EFEFEF;
    }

    .lk__btn {
      margin-top: 16px;
      max-width: 157px;
    }
  }

  &-faq {

    &__item {
      background: #fff;
      padding: 24px;
      margin-bottom: 12px;
      border-radius: 10px;

      @media only screen and (max-width: 991px) {
        padding: 16px;
      }
    }

    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;


      &.active {
        .lk-faq__arrow {
          transform: rotate(180deg);
        }
      }
    }

    &__arrow {
      display: flex;
      align-items: center;
      transition: 300ms;
      flex-shrink: 0;
      margin-left: 10px;

    }

    &__body {
      font-size: 14px;

      margin-top: 10px;

      display: none;

      @media only screen and (max-width: 991px) {
        margin-left: 0;
      }

      &.active {
        display: block;
      }

      ol {
        padding-left: 16px;
        
      }
    }
  }
}
