@use '../../../style/scss/variables.scss' as *;

.showcase {
  position: relative;
  margin-top: 50px;
  margin-bottom: 150px;

  @media only screen and (max-width: 767px) {
    margin-top: 35px;
    margin-bottom: 64px;
  }

  &__blur {
    position: absolute;
    right: -170px;
    top: -39%;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 991px) {
      right: 20px;
      height: 700px;
      top: -8%;
    }

    @media only screen and (max-width: 767px) {
      height: 100%;
      top: -7%;
      width: 200%;
      right: -50%;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    align-items: center;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      justify-content: center;
      grid-gap: 30px;
    }
  }

  &__label {
    border-radius: 99px;
    padding: 6px 12px;
    font-weight: 600;
    letter-spacing: 0.03em;
    background: $base-primery;
    height: 34px;
    margin-bottom: 15px;

    @media only screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__title {
    font-size: 74px;
    font-weight: 600;
    line-height: 108%;
    margin-bottom: 8px;

    @media only screen and (max-width: 767px) {
      font-size: 42px;
      margin-top: 20px;
    }
  }

  &__desc {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 600;

    @media only screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__info {
    max-width: 400px;
    
    @media only screen and (max-width: 767px) {
      text-align: center;
      margin: 0 auto;
      max-width: 288px;
    }
  }

  &__form {
    max-width: 520px;
    margin-left: auto;
    box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.12),
      0 15px 48px 0 rgba(15, 210, 174, 0.24);
    background: linear-gradient(180deg, #07d0ab 0%, #d4f2ed 100%);
    border: 1px solid #fff;
    border-radius: 24px;
    padding: 24px;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 991px) {
      margin: 0 auto;
    }

    @media only screen and (max-width: 767px) {
      padding: 16px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    background: #fff;
    backdrop-filter: blur(28.700000762939453px);
    padding: 6px;
    border-radius: 64px;
    margin-bottom: 16px;

    span {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.03em;
      min-height: 36px;
      border-radius: 99px;
      cursor: pointer;

      &.active {
        background: $base-neutral;
        color: #fff;
      }
    }
  }

  &__items {
    display: none;
    position: relative;

    &.active {
      display: block;
    }
  }

  &__item {
    background: #fff;
    border-radius: 16px;
    padding: 11px 16px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__grid {
    p {
      color: #9aa1b5;
      display: block;
      margin-bottom: 2px;
    }

    input {
      font-weight: 600;
      font-size: 21px;
      background: none;
      border: 0;
      font-family: inherit;
      color: #000;

      @media only screen and (max-width: 767px) {
        width: 70px;
      }

      &::-webkit-input-placeholder {
        opacity: 0.5;
      }
      &:-moz-placeholder {
        opacity: 0.5;
      }
      &::-moz-placeholder {
        opacity: 0.5;
      }
      &:-ms-input-placeholder {
        opacity: 0.5;
      }

      &.error {
        color: $base-error;
      }
    }

    span {
      color: #9aa1b5;
      display: block;
      margin-top: 4px;
    }
  }

  &__head {
    display: flex;
    gap: 10px;
    align-items: center;

    @media only screen and (max-width: 767px) {
      gap: 5px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__select {
    position: relative;

    &.active {
      .showcase__select--body {
        display: block;
      }
    }
    &--head {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 600;
      gap: 10px;
      color: #000;
      cursor: pointer;
      flex-shrink: 0;

      @media only screen and (max-width: 767px) {
        font-size: 20px;
      }
    }

    &--body {
      position: absolute;
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      width: 100%;
      z-index: 10;

      display: none;

      &.active {
        display: block;
      }

      span {
        margin-bottom: 10px;
        display: block;
        cursor: pointer;

        &:hover {
          color: $base-primery;
        }
      }
    }
  }

  &__text {
    font-size: 14px;
    color: #9aa1b5;
    text-align: right;
    margin-top: 5px;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 12px;
    background: $base-primery;
    box-shadow: inset -7px 8px 8px -2px #0effd3,
      0 4px 12px 0 rgba(0, 0, 0, 0.25);
    transition: 300ms;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
      background: #00c8a3;
    }
  }

  &__foot {
    margin-top: 40px;
  }

  &__btn {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  &__link {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #007d66;
    display: block;

    &:hover {
      color: $base-primery;
    }
  }
}
