<div class="showcase">
  <div class="container">
    <div class="showcase__inner">
      <div class="showcase__blur">
        <img src="images/showcase-blue.png" alt="" />
      </div>
      <div class="showcase__info">
        <span class="showcase__label">Работаем 24/7</span>
        <h1 class="showcase__title title">Надёжно Быстро Выгодно</h1>

        <div class="showcase__desc">Работаем более 5 лет</div>
      </div>

      <div class="showcase__content">
        <form action="#">
          <div class="showcase__form">
            <div class="showcase__top">
              <span data-showcase-top class="active">Наличные</span>
              <span data-showcase-top>Банки</span>
            </div>

            <div class="showcase__select">
              <div class="showcase__select--head">
                <div class="showcase__select--name">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.99992 9.44667C6.57992 9.44667 5.41992 8.29333 5.41992 6.86667C5.41992 5.44 6.57992 4.29333 7.99992 4.29333C9.41992 4.29333 10.5799 5.44667 10.5799 6.87334C10.5799 8.3 9.41992 9.44667 7.99992 9.44667ZM7.99992 5.29333C7.13326 5.29333 6.41992 6 6.41992 6.87334C6.41992 7.74667 7.12659 8.45333 7.99992 8.45333C8.87326 8.45333 9.57992 7.74667 9.57992 6.87334C9.57992 6 8.86659 5.29333 7.99992 5.29333Z"
                      fill="#9AA1B5"
                    />
                    <path
                      d="M8.00012 15.1733C7.01345 15.1733 6.02012 14.8 5.24678 14.06C3.28012 12.1667 1.10678 9.14668 1.92678 5.55334C2.66678 2.29334 5.51345 0.833344 8.00012 0.833344C8.00012 0.833344 8.00012 0.833344 8.00678 0.833344C10.4935 0.833344 13.3401 2.29334 14.0801 5.56001C14.8934 9.15334 12.7201 12.1667 10.7534 14.06C9.98012 14.8 8.98678 15.1733 8.00012 15.1733ZM8.00012 1.83334C6.06012 1.83334 3.56678 2.86668 2.90678 5.77334C2.18678 8.91334 4.16012 11.62 5.94678 13.3333C7.10012 14.4467 8.90678 14.4467 10.0601 13.3333C11.8401 11.62 13.8134 8.91334 13.1068 5.77334C12.4401 2.86668 9.94012 1.83334 8.00012 1.83334Z"
                      fill="#9AA1B5"
                    />
                  </svg>

                  <span>Город</span>
                </div>
                <div class="showcase__select--arrow">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8.00001 11.2C7.53335 11.2 7.06668 11.02 6.71335 10.6667L2.36668 6.31999C2.17335 6.12666 2.17335 5.80666 2.36668 5.61332C2.56001 5.41999 2.88001 5.41999 3.07335 5.61332L7.42001 9.95999C7.74001 10.28 8.26001 10.28 8.58001 9.95999L12.9267 5.61332C13.12 5.41999 13.44 5.41999 13.6333 5.61332C13.8267 5.80666 13.8267 6.12666 13.6333 6.31999L9.28668 10.6667C8.93335 11.02 8.46668 11.2 8.00001 11.2Z"
                      fill="black"
                    />
                  </svg>
                </div>
              </div>

              <div class="showcase__select--dropdown">
                <span data-select-name> Москва </span>
                <span data-select-name> Питер </span>
                <span data-select-name> ДНР </span>
              </div>
            </div>

            <div class="showcase__container">
              <div class="showcase__items active" data-showcase-body>
                <div class="showcase__item">
                  <div class="showcase__grid">
                    <span>Отдаете</span>
                    <input type="text" placeholder="1 000" />
                    <p>1000 - 400000</p>
                  </div>

                  <div class="showcase__aside">
                    <div class="showcase__head">
                      <div class="showcase__icon">
                        <img src="images/sber.svg" alt="" />
                      </div>
                      <div class="showcase__select">
                        <div class="showcase__select--head">
                          <span>RUB</span>
                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.00001 11.2C7.53335 11.2 7.06668 11.0201 6.71335 10.6667L2.36668 6.32005C2.17335 6.12672 2.17335 5.80672 2.36668 5.61338C2.56001 5.42005 2.88001 5.42005 3.07335 5.61338L7.42001 9.96005C7.74001 10.2801 8.26001 10.2801 8.58001 9.96005L12.9267 5.61338C13.12 5.42005 13.44 5.42005 13.6333 5.61338C13.8267 5.80672 13.8267 6.12672 13.6333 6.32005L9.28668 10.6667C8.93335 11.0201 8.46668 11.2 8.00001 11.2Z"
                              fill="black"
                            />
                          </svg>
                        </div>

                        <div class="showcase__select--body">
                          <span>USDT</span>
                          <span>USDT 1</span>
                          <span>USDT 2</span>
                        </div>
                      </div>
                    </div>

                    <div class="showcase__text">Сбербанк RUB</div>
                  </div>
                </div>

                <div class="showcase__image">
                  <svg
                    width="19"
                    height="24"
                    viewBox="0 0 19 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.74636 10.5691H6.70375C5.72753 9.2699 6.58666 8.68694 7.13795 8.68694H11.5779L9.21316 11.0517L11.5779 13.4165L16.1022 8.89228C17.3084 7.68607 17.3084 5.73042 16.1022 4.52422L11.5779 0L9.02012 2.55782L11.5779 5.11564H6.70375C3.30619 5.11564 2.64984 8.75129 2.74636 10.5691Z"
                      fill="black"
                    />
                    <path
                      d="M15.5398 13.4309H11.5824C12.5586 14.7301 11.6995 15.3131 11.1482 15.3131H6.70819L9.07297 12.9483L6.70819 10.5835L2.18398 15.1077C0.977767 16.3139 0.977766 18.2696 2.18397 19.4758L6.70819 24L9.26601 21.4422L6.70819 18.8844H11.5824C14.9799 18.8844 15.6363 15.2487 15.5398 13.4309Z"
                      fill="black"
                    />
                  </svg>
                </div>
                <div class="showcase__item">
                  <div class="showcase__grid">
                    <span>Отдаете</span>
                    <input type="text" placeholder="1 000" />
                    <p>1000 - 400000</p>
                  </div>

                  <div class="showcase__aside">
                    <div class="showcase__head">
                      <div class="showcase__icon">
                        <img src="images/sber.svg" alt="" />
                      </div>
                      <div class="showcase__select">
                        <div class="showcase__select--head">
                          <span>RUB</span>
                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.00001 11.2C7.53335 11.2 7.06668 11.0201 6.71335 10.6667L2.36668 6.32005C2.17335 6.12672 2.17335 5.80672 2.36668 5.61338C2.56001 5.42005 2.88001 5.42005 3.07335 5.61338L7.42001 9.96005C7.74001 10.2801 8.26001 10.2801 8.58001 9.96005L12.9267 5.61338C13.12 5.42005 13.44 5.42005 13.6333 5.61338C13.8267 5.80672 13.8267 6.12672 13.6333 6.32005L9.28668 10.6667C8.93335 11.0201 8.46668 11.2 8.00001 11.2Z"
                              fill="black"
                            />
                          </svg>
                        </div>

                        <div class="showcase__select--body">
                          <span>USDT</span>
                          <span>USDT 1</span>
                          <span>USDT 2</span>
                        </div>
                      </div>
                    </div>

                    <div class="showcase__text">Сбербанк RUB</div>
                  </div>
                </div>
              </div>
              <div class="showcase__items" data-showcase-body>
                <div class="showcase__item">
                  <div class="showcase__grid">
                    <span>Отдаете</span>
                    <input type="text" placeholder="1 000" />
                    <p>1000 - 400000</p>
                  </div>

                  <div class="showcase__aside">
                    <div class="showcase__head">
                      <div class="showcase__icon">
                        <img src="images/sber.svg" alt="" />
                      </div>
                      <div class="showcase__select">
                        <div class="showcase__select--head">
                          <span>USDT</span>
                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.00001 11.2C7.53335 11.2 7.06668 11.0201 6.71335 10.6667L2.36668 6.32005C2.17335 6.12672 2.17335 5.80672 2.36668 5.61338C2.56001 5.42005 2.88001 5.42005 3.07335 5.61338L7.42001 9.96005C7.74001 10.2801 8.26001 10.2801 8.58001 9.96005L12.9267 5.61338C13.12 5.42005 13.44 5.42005 13.6333 5.61338C13.8267 5.80672 13.8267 6.12672 13.6333 6.32005L9.28668 10.6667C8.93335 11.0201 8.46668 11.2 8.00001 11.2Z"
                              fill="black"
                            />
                          </svg>
                        </div>

                        <div class="showcase__select--body">
                          <span>USDT</span>
                          <span>USDT 1</span>
                          <span>USDT 2</span>
                        </div>
                      </div>
                    </div>

                    <div class="showcase__text">Сбербанк RUB</div>
                  </div>
                </div>

                <div class="showcase__image">
                  <svg
                    width="19"
                    height="24"
                    viewBox="0 0 19 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.74636 10.5691H6.70375C5.72753 9.2699 6.58666 8.68694 7.13795 8.68694H11.5779L9.21316 11.0517L11.5779 13.4165L16.1022 8.89228C17.3084 7.68607 17.3084 5.73042 16.1022 4.52422L11.5779 0L9.02012 2.55782L11.5779 5.11564H6.70375C3.30619 5.11564 2.64984 8.75129 2.74636 10.5691Z"
                      fill="black"
                    />
                    <path
                      d="M15.5398 13.4309H11.5824C12.5586 14.7301 11.6995 15.3131 11.1482 15.3131H6.70819L9.07297 12.9483L6.70819 10.5835L2.18398 15.1077C0.977767 16.3139 0.977766 18.2696 2.18397 19.4758L6.70819 24L9.26601 21.4422L6.70819 18.8844H11.5824C14.9799 18.8844 15.6363 15.2487 15.5398 13.4309Z"
                      fill="black"
                    />
                  </svg>
                </div>
                <div class="showcase__item">
                  <div class="showcase__grid">
                    <span>Отдаете</span>
                    <input type="text" placeholder="1 000" />
                    <p>1000 - 400000</p>
                  </div>

                  <div class="showcase__aside">
                    <div class="showcase__head">
                      <div class="showcase__icon">
                        <img src="images/sber.svg" alt="" />
                      </div>
                      <div class="showcase__select">
                        <div class="showcase__select--head">
                          <span>RUB</span>
                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.00001 11.2C7.53335 11.2 7.06668 11.0201 6.71335 10.6667L2.36668 6.32005C2.17335 6.12672 2.17335 5.80672 2.36668 5.61338C2.56001 5.42005 2.88001 5.42005 3.07335 5.61338L7.42001 9.96005C7.74001 10.2801 8.26001 10.2801 8.58001 9.96005L12.9267 5.61338C13.12 5.42005 13.44 5.42005 13.6333 5.61338C13.8267 5.80672 13.8267 6.12672 13.6333 6.32005L9.28668 10.6667C8.93335 11.0201 8.46668 11.2 8.00001 11.2Z"
                              fill="black"
                            />
                          </svg>
                        </div>

                        <div class="showcase__select--body">
                          <span>USDT</span>
                          <span>USDT 1</span>
                          <span>USDT 2</span>
                        </div>
                      </div>
                    </div>

                    <div class="showcase__text">Сбербанк RUB</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="showcase__course">
              <div class="showcase__course--number">
                <span>30</span>
              </div>

              <div class="showcase__course--text">
                <span> Курс обмена</span>
                <p>70 Rub = 1 USDT</p>
              </div>
            </div>

            <div class="showcase__foot">
              <button class="showcase__btn btn btn-black">Следующий шаг</button>

              <a href="#" class="showcase__link"
                >Проверить кошелек перед обменом</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
