<div class="showcase">
  <div class="container">
    <div class="showcase__inner">
      <div class="showcase__blur">
        <img src="images/showcase-blue.png" alt="" />
      </div>
      <div class="showcase__info">
        <span class="showcase__label">Работаем 24/7</span>
        <h1 class="showcase__title title">Надёжно Быстро Выгодно</h1>

        <div class="showcase__desc">Работаем более 5 лет</div>
      </div>

      <div class="showcase__content">
        <form action="#">
          <div class="showcase__form">
            <div class="showcase__top">
              <span data-showcase-top class="active">Наличные</span>
              <span data-showcase-top>Банки</span>
            </div>

            <div class="showcase__container">
              <div class="showcase__items active" data-showcase-body>
                <div class="showcase__item">
                  <div class="showcase__grid">
                    <span>Отдаете</span>
                    <input type="text"  placeholder="1 000"/>
                    <p>1000 - 400000</p>
                  </div>

                  <div class="showcase__aside">
                    <div class="showcase__head">
                      <div class="showcase__icon">
                        <img src="images/sber.svg" alt="" />
                      </div>
                      <div class="showcase__select">
                        <div class="showcase__select--head">
                          <span>RUB</span>
                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.00001 11.2C7.53335 11.2 7.06668 11.0201 6.71335 10.6667L2.36668 6.32005C2.17335 6.12672 2.17335 5.80672 2.36668 5.61338C2.56001 5.42005 2.88001 5.42005 3.07335 5.61338L7.42001 9.96005C7.74001 10.2801 8.26001 10.2801 8.58001 9.96005L12.9267 5.61338C13.12 5.42005 13.44 5.42005 13.6333 5.61338C13.8267 5.80672 13.8267 6.12672 13.6333 6.32005L9.28668 10.6667C8.93335 11.0201 8.46668 11.2 8.00001 11.2Z"
                              fill="black"
                            />
                          </svg>
                        </div>

                        <div class="showcase__select--body">
                          <span>USDT</span>
                          <span>USDT 1</span>
                          <span>USDT 2</span>
                        </div>
                      </div>
                    </div>

                    <div class="showcase__text">Сбербанк RUB</div>
                  </div>
                </div>

                <div class="showcase__image">
                  <svg
                    width="19"
                    height="24"
                    viewBox="0 0 19 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.74636 10.5691H6.70375C5.72753 9.2699 6.58666 8.68694 7.13795 8.68694H11.5779L9.21316 11.0517L11.5779 13.4165L16.1022 8.89228C17.3084 7.68607 17.3084 5.73042 16.1022 4.52422L11.5779 0L9.02012 2.55782L11.5779 5.11564H6.70375C3.30619 5.11564 2.64984 8.75129 2.74636 10.5691Z"
                      fill="black"
                    />
                    <path
                      d="M15.5398 13.4309H11.5824C12.5586 14.7301 11.6995 15.3131 11.1482 15.3131H6.70819L9.07297 12.9483L6.70819 10.5835L2.18398 15.1077C0.977767 16.3139 0.977766 18.2696 2.18397 19.4758L6.70819 24L9.26601 21.4422L6.70819 18.8844H11.5824C14.9799 18.8844 15.6363 15.2487 15.5398 13.4309Z"
                      fill="black"
                    />
                  </svg>
                </div>
                <div class="showcase__item">
                  <div class="showcase__grid">
                    <span>Отдаете</span>
                    <input type="text"  placeholder="1 000"/>
                    <p>1000 - 400000</p>
                  </div>

                  <div class="showcase__aside">
                    <div class="showcase__head">
                      <div class="showcase__icon">
                        <img src="images/sber.svg" alt="" />
                      </div>
                      <div class="showcase__select">
                        <div class="showcase__select--head">
                          <span>RUB</span>
                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.00001 11.2C7.53335 11.2 7.06668 11.0201 6.71335 10.6667L2.36668 6.32005C2.17335 6.12672 2.17335 5.80672 2.36668 5.61338C2.56001 5.42005 2.88001 5.42005 3.07335 5.61338L7.42001 9.96005C7.74001 10.2801 8.26001 10.2801 8.58001 9.96005L12.9267 5.61338C13.12 5.42005 13.44 5.42005 13.6333 5.61338C13.8267 5.80672 13.8267 6.12672 13.6333 6.32005L9.28668 10.6667C8.93335 11.0201 8.46668 11.2 8.00001 11.2Z"
                              fill="black"
                            />
                          </svg>
                        </div>

                        <div class="showcase__select--body">
                          <span>USDT</span>
                          <span>USDT 1</span>
                          <span>USDT 2</span>
                        </div>
                      </div>
                    </div>

                    <div class="showcase__text">Сбербанк RUB</div>
                  </div>
                </div>
              </div>
              <div class="showcase__items" data-showcase-body>
                <div class="showcase__item">
                  <div class="showcase__grid">
                    <span>Отдаете</span>
                    <input type="text"  placeholder="1 000"/>
                    <p>1000 - 400000</p>
                  </div>

                  <div class="showcase__aside">
                    <div class="showcase__head">
                      <div class="showcase__icon">
                        <img src="images/sber.svg" alt="" />
                      </div>
                      <div class="showcase__select">
                        <div class="showcase__select--head">
                          <span>USDT</span>
                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.00001 11.2C7.53335 11.2 7.06668 11.0201 6.71335 10.6667L2.36668 6.32005C2.17335 6.12672 2.17335 5.80672 2.36668 5.61338C2.56001 5.42005 2.88001 5.42005 3.07335 5.61338L7.42001 9.96005C7.74001 10.2801 8.26001 10.2801 8.58001 9.96005L12.9267 5.61338C13.12 5.42005 13.44 5.42005 13.6333 5.61338C13.8267 5.80672 13.8267 6.12672 13.6333 6.32005L9.28668 10.6667C8.93335 11.0201 8.46668 11.2 8.00001 11.2Z"
                              fill="black"
                            />
                          </svg>
                        </div>

                        <div class="showcase__select--body">
                          <span>USDT</span>
                          <span>USDT 1</span>
                          <span>USDT 2</span>
                        </div>
                      </div>
                    </div>

                    <div class="showcase__text">Сбербанк RUB</div>
                  </div>
                </div>

                <div class="showcase__image">
                  <svg
                    width="19"
                    height="24"
                    viewBox="0 0 19 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.74636 10.5691H6.70375C5.72753 9.2699 6.58666 8.68694 7.13795 8.68694H11.5779L9.21316 11.0517L11.5779 13.4165L16.1022 8.89228C17.3084 7.68607 17.3084 5.73042 16.1022 4.52422L11.5779 0L9.02012 2.55782L11.5779 5.11564H6.70375C3.30619 5.11564 2.64984 8.75129 2.74636 10.5691Z"
                      fill="black"
                    />
                    <path
                      d="M15.5398 13.4309H11.5824C12.5586 14.7301 11.6995 15.3131 11.1482 15.3131H6.70819L9.07297 12.9483L6.70819 10.5835L2.18398 15.1077C0.977767 16.3139 0.977766 18.2696 2.18397 19.4758L6.70819 24L9.26601 21.4422L6.70819 18.8844H11.5824C14.9799 18.8844 15.6363 15.2487 15.5398 13.4309Z"
                      fill="black"
                    />
                  </svg>
                </div>
                <div class="showcase__item">
                  <div class="showcase__grid">
                    <span>Отдаете</span>
                    <input type="text"  placeholder="1 000"/>
                    <p>1000 - 400000</p>
                  </div>

                  <div class="showcase__aside">
                    <div class="showcase__head">
                      <div class="showcase__icon">
                        <img src="images/sber.svg" alt="" />
                      </div>
                      <div class="showcase__select">
                        <div class="showcase__select--head">
                          <span>RUB</span>
                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.00001 11.2C7.53335 11.2 7.06668 11.0201 6.71335 10.6667L2.36668 6.32005C2.17335 6.12672 2.17335 5.80672 2.36668 5.61338C2.56001 5.42005 2.88001 5.42005 3.07335 5.61338L7.42001 9.96005C7.74001 10.2801 8.26001 10.2801 8.58001 9.96005L12.9267 5.61338C13.12 5.42005 13.44 5.42005 13.6333 5.61338C13.8267 5.80672 13.8267 6.12672 13.6333 6.32005L9.28668 10.6667C8.93335 11.0201 8.46668 11.2 8.00001 11.2Z"
                              fill="black"
                            />
                          </svg>
                        </div>

                        <div class="showcase__select--body">
                          <span>USDT</span>
                          <span>USDT 1</span>
                          <span>USDT 2</span>
                        </div>
                      </div>
                    </div>

                    <div class="showcase__text">Сбербанк RUB</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="showcase__foot">
              <button class="showcase__btn btn btn-black">Следующий шаг</button>

              <a href="#" class="showcase__link"
                >Проверить кошелек перед обменом</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
