@use '../../../style/scss/variables.scss' as *;

.work {
  margin-bottom: 161px;
  
  @media only screen and (max-width: 991px) {
    margin-bottom: 64px;
  }

  

  &__text {
    text-align: center;
    margin-bottom: 4px;
    font-weight: 600;
    display: block;

    @media only screen and (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 4px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 44px;
    line-height: 118%;
    color: #000;
    margin-bottom: 64px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 32px;
      font-size: 24px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-gap: 25px;
    }
  }

  &__grid {
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    padding: 24px;
    gap: 24px;
    border: 1px solid transparent;
    cursor: pointer;


    @media only screen and (max-width: 767px) {
      flex-direction: column;
      gap: 24px;
    }

    &:hover {
      border: 1px solid #fff;
      box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.1);
      background: #efefef;

      .work__number {
        background: linear-gradient(180deg, #07d0ab 0%, #d4f2ed 100%);
      }
    }
  }

  &__number {
    display: flex;
    align-items: center;
    width: 46px;
    height: 46px;
    font-weight: 600;
    font-size: 18px;
    color: #000;
    background: #ebebeb;
    border-radius: 50px;
    justify-content: center;
    flex-shrink: 0;

    @media only screen and (max-width: 767px) {
      width: 32px;
      height: 32px;
    }
  }

  &__info {
    span {
      font-weight: 600;
      font-size: 18px;
      display: block;
      margin-bottom: 10px;

      @media only screen and (max-width: 767px) {
        font-size: 18px;
      }
    }

    p {
      font-size: 14px;
      opacity: 0.7;

      @media only screen and (max-width: 767px) {
        font-size: 12px;
      }
    }
  }

  &__aside {
    position: relative;

    @media only screen and (max-width: 767px) {
      order: -1;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__after,
  &__before {
    display: flex;
    align-items: center;
    position: absolute;
  }

  &__after {
    top: -35px;
    right: -122px;

    @media only screen and (max-width: 767px) {
      width: 140px;
      height: 140px;
      right: -45px;
      top: -5px;
    }
  }

  &__before {
    bottom: -35px;
    left: -122px;

     @media only screen and (max-width: 767px) {
      width: 140px;
      height: 140px;
      left: -55px;
      bottom: -15px;
    }
  }
}
