@use '../../../style/scss/variables.scss' as *;

.about-showcase {
  margin: 50px 0 100px;
  position: relative;
  z-index: 3;


  &:before {
    content: '';
    display: block;
    position: absolute;
    background: url('/images/bg-top.png') 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 1617px;
    top: -20%;
    right: 0;
  }

  @media only screen and (max-width: 991px) {
    margin-bottom: 60px;
    margin-top: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 991px) {
      margin-top: 48px;
    }
  }

  &__info {
    h3 {
      font-weight: 600;
      font-size: 64px;
      color: #2a2c38;


      @media only screen and (max-width: 991px) {
        font-size: 42px;
        text-align: center;
        margin-bottom: 24px;
      }
    }

    p {
      color: #1c1c1c;

      @media only screen and (max-width: 991px) {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
