.about-rev {
  position: relative;
  z-index: 3;
  margin-bottom: 65px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    background: url('/images/bg-top.png') 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 1617px;
    top: -20%;
    right: 0;

    @media only screen and (max-width: 991px) {
      top: auto;
      bottom: -64%;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-gap: 24px;


    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 64px;

    @media only screen and (max-width: 991px) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  &__info {
    box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.12);
    background: linear-gradient(350deg, #b6fff2 0%, #fff 100%);
    border: 1px solid#fff;
    padding: 24px;
    position: relative;
    border-radius: 20px;
    z-index: 3;
    height: fit-content;

    @media only screen and (max-width: 991px) {
      overflow: hidden;
    }


    span {
      font-weight: 600;
      opacity: 0.7;
      font-size: 18px;
      display: block;

      @media only screen and (max-width: 991px) {
        font-size: 16px;
      }
    }

    p {
      margin-top: 12px;
      margin-bottom: 32px;
      opacity: 0.7;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }
    }
  }

  &__btn {
    max-width: 157px;

    @media only screen and (max-width: 991px) {
      max-width: 100%;
      position: relative;
      z-index: 1;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    margin: -24px;
    margin-top: 0;

    @media only screen and (max-width: 991px) {
      position: absolute;
      bottom: -15%;
      right: 2%;
      width: 192px;
      height: 192px;
      margin: 0;
    }
  }

  &__item {
    padding: 16px 32px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
  }

  &__name {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 18px;
  }

  &__text {
    font-size: 16px;
  }

  &__date {
    font-size: 14px;
    margin-top: 10px;
    opacity: 0.5;
  }
}
