<div class="about-rev">
  <div class="container">
    <div class="about-rev__inner">
      <h3 class="about-rev__title">Отзывы</h3>

      <div class="about-rev__content">
        <div class="about-rev__info">
          <span>Дорогой клиент. </span>
          <p>
            Мы каждый день стараемся быть лучше, чтобы вам было удобнее
            пользоваться нашим обменником. <br /><br />
            Помоги нам стать еще лучше, оставь свой отзыв или пожелание. Мы
            читаем все отзывы и стараемся реагировать на ваши пожелания.
          </p>

          <a href="#" class="about-rev__btn btn btn-black">Отправить</a>

          <div class="about-rev__img">
            <img src="images/like.png" alt="" />
          </div>
        </div>
        <div class="about-rev__aside">
          <div class="about-rev__items">
            <div class="about-rev__item">
              <div class="about-rev__name">Илья</div>

              <div class="about-rev__text">
                Максимально оперативный обменник! Впредь буду пользоваться!
                Спасибо!
              </div>

              <div class="about-rev__date">25.03.2024, 15:03</div>
            </div>
            <div class="about-rev__item">
              <div class="about-rev__name">Илья</div>

              <div class="about-rev__text">
                Максимально оперативный обменник! Впредь буду пользоваться!
                Спасибо!
              </div>

              <div class="about-rev__date">25.03.2024, 15:03</div>
            </div>
            <div class="about-rev__item">
              <div class="about-rev__name">Илья</div>

              <div class="about-rev__text">
                Максимально оперативный обменник! Впредь буду пользоваться!
                Спасибо!
              </div>

              <div class="about-rev__date">25.03.2024, 15:03</div>
            </div>
            <div class="about-rev__item">
              <div class="about-rev__name">Илья</div>

              <div class="about-rev__text">
                Максимально оперативный обменник! Впредь буду пользоваться!
                Спасибо!
              </div>

              <div class="about-rev__date">25.03.2024, 15:03</div>
            </div>
            <div class="about-rev__item">
              <div class="about-rev__name">Илья</div>

              <div class="about-rev__text">
                Максимально оперативный обменник! Впредь буду пользоваться!
                Спасибо!
              </div>

              <div class="about-rev__date">25.03.2024, 15:03</div>
            </div>
          </div>

          @@include('../../elements/pagination/template.html',{})
        </div>
      </div>
    </div>
  </div>
</div>
