.news-detail {
  &__info {
    box-shadow: inset -5px 4px 12px 0 rgba(255, 255, 255, 0.25);
    background: #fff;
    border-radius: 20px;
    padding: 24px;

    @media only screen and (max-width: 991px) {
      padding: 16px;
      font-size: 14px;
    }

    span {
      margin-bottom: 24px;
      display: block;
    }

    p {
      opacity: 0.7;
    }

    a {
      margin-top: 32px;

      box-shadow: inset 0 3px 4px 0 rgba(255, 255, 255, 0.25);
      background: #00dab2;
      width: 176px;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: underline;
      border-radius: 32px;
      cursor: pointer;
      font-size: 14px;

      @media only screen and (max-width: 991px) {
        width: 100%;
      }
    }
  }
}
