<div class="news">
  <div class="steps__bg">
    <img src="images/lk-step.png" alt="" />
  </div>
  <div class="container">
    <div class="news__inner">
      <h1 class="news__title title">Добавлены новые направления</h1>

      <div class="news-detail__info">
        <span
          >Добавлены новые направления. Уважаемые пользователи! Теперь на
          сервисе yesobmen.com доступны направления обмена криптовалюты на
          популярные банки РФ: Сбербанк, Тинькофф, Открытие, Альфа-Банк, ВТБ и
          Райффайзен.Перевод осуществляем внутрибанковским платежом. Среднее
          время оплаты заявок обменным пунктом в данных направлениях - 10 минут
          с момента зачисления криптовалюты. Производим обмен быстро и
          безопасно!
        </span>



        <p>08 августа 2022</p>




        <a href="#"> Перейти к обмену</a>
      </div>
    </div>
  </div>
</div>
