.about-con {
  position: relative;
  z-index: 3;
  margin-bottom: 80px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 32px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    background: url('/images/bg-about.png') 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 1617px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 64px;
    font-size: 44px;
    font-weight: 600;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 426px;
    grid-gap: 24px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__form {
    background: #fff;
    position: relative;
    z-index: 1;

    padding: 24px;
    border-radius: 20px;

    .steps-operation__input {
      border: 1px solid #efefef;
      border-radius: 10px;
      margin-bottom: 16px;
    }
  }

  &__label {
    display: block;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 21px;

    @media only screen and (max-width: 991px) {
      font-size: 16px;
    }
  }

  &__btn {
    max-width: 157px;
    margin: 0 auto;
    margin-top: 20px;

    @media only screen and (max-width: 991px) {
      max-width: 100%;
    }
  }

  &__info {
    padding: 24px;
    border-radius: 20px;
    background: #fff;
    position: relative;
    z-index: 1;

    &--item {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        display: block;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 12px;

        @media only screen and (max-width: 991px) {
          font-size: 16px;
        }
      }

      p {
        @media only screen and (max-width: 991px) {
          font-size: 14px;
        }
      }

      a {
        font-weight: 600;
        text-decoration: underline;
      }
    }

    &--soc {
      display: flex;
      align-items: center;
      gap: 12px;

      @media only screen and (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
      }
      a {
        text-decoration: none;
        background: #000;
        color: #fff;
        display: flex;
        align-items: center;
        width: fit-content;
        box-shadow: inset 0 3px 4px 0 rgba(255, 255, 255, 0.25);
        border-radius: 12px;
        padding: 12px 32px 12px 16px;
        gap: 10px;
        cursor: pointer;

        @media only screen and (max-width: 991px) {
          span {
            font-size: 14px;
          }
        }
      }

      span {
        margin-bottom: 0;
      }
    }
  }
}
