@use '../../style/scss/variables.scss' as *;

.header {
  width: 100%;
  position: relative;
  z-index: 3;

  @media only screen and (max-width: 991px) {
    position: relative;
    z-index: 1111;
  }
  &__container {
    padding: 0 80px;

    @media only screen and (max-width: 991px) {
      padding: 12px 30px;
    }

    @media only screen and (max-width: 767px) {
      padding: 12px 16px;
    }
  }

  &__inner {
    padding: 36px 0;

    @media only screen and (max-width: 991px) {
      background: #fff;
      padding: 24px 32px;
      box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.1);
      border-radius: 24px;
    }

    @media only screen and (max-width: 767px) {
      padding: 16px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    img {
      @media only screen and (max-width: 991px) {
        display: none;
      }

      &.mobile {
        display: none;

        @media only screen and (max-width: 991px) {
          display: block;
        }
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 24px;

    @media only screen and (max-width: 767px) {
      display: none;
    }

    li {
      a {
        color: #000;

        &:hover {
          color: $base-primery;
        }
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__theme {
    display: flex;
    align-items: center;

    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  &__lang {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    cursor: pointer;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }
  }

  &__btn {
    max-width: 90px;
    position: relative;
    z-index: 10;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  &__burger {
    display: none;

    @media only screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      width: 40px;
      height: 40px;
      background: $base-primery;
      justify-content: center;
      border-radius: 5px;
    }
  }

  &__theme--black {
    display: flex;
    align-items: center;
  }

  &__theme--light {
    display: flex;
    align-items: center;
  }

  &__mobile {
    .header__btn {
      display: none;
    }

    .header__close {
      display: none;

      @media only screen and (max-width: 767px) {
        display: flex;
      }
    }

    @media only screen and (max-width: 767px) {
      display: none;
      flex-direction: column;
      gap: 20px;
      justify-content: flex-start;
      position: fixed;
      right: 0;
      width: 80%;
      height: 100vh;
      background: #fff;
      z-index: 2011;
      min-height: 100vh;
      bottom: 0;
      padding: 30px;
      padding-top: 70px;

      &.active {
        display: flex;
      }

      .header__nav {
        display: flex;
        flex-direction: column;
      }
      .header__btn {
        display: flex;
        justify-content: center;
        max-width: 100%;
      }
    }
  }

  &__close {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background: $base-primery;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    justify-content: center;
    border-radius: 5px;
  }

  &__correct {
    position: relative;

    &.mobile {
      display: none;

      @media only screen and (max-width: 767px) {
        display: block;
      }
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }

    &--btn {
      display: flex;
      align-items: center;
      box-shadow: inset 0 3px 4px 0 rgba(255, 255, 255, 0.25);
      background: $base-primery;
      display: flex;
      align-items: center;
      gap: 8px;
      width: 157px;
      height: 43px;
      border-radius: 32px;
      border: 3px solid transparent;
      justify-content: center;
      cursor: pointer;


      @media only screen and (max-width: 767px) {
        width: 100%;
        svg {
          display: none;
        }
      }

      span {
        font-size: 14px;
        min-width: 0; 
        width: 85px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media only screen and (max-width: 767px) {
          min-width: 0;
          width: auto;
          width: calc(100% - 40px);
        }
      }
    }

    &--dropdown {
      position: absolute;
      border-radius: 20px;
      border: 1px solid #00dab2;
      padding: 16px 24px;
      top: 110%;
      background: #fff;
      width: 100%;

      display: none;


      @media only screen and (max-width: 767px) {
        display: block;
        position: relative;
        top: 0;
        padding: 0;
        border: 0;
        margin-top: 24px;
      }

      &.active {
        display: block;
      }

      a {
        margin-bottom: 10px;
        text-align: center;
        display: block;
font-size: 14px;
     

        &:last-child {
          margin-bottom: 0;
        }

       
      }
    }
  }
}
